<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instano.retailer.instano" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- GCM Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="com.instano.retailer.instano.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.instano.retailer.instano.permission.C2D_MESSAGE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permissions for OpenGL ES version 2 required for Google Maps Android API v2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/instano_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name=".application.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.instano.retailer.instano" />
            </intent-filter>
        </receiver>

        <service android:name=".application.GcmIntentService" />

        <activity
            android:name=".activities.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchTabsActivity"
            android:label="@string/title_activity_search_tabs">


        </activity>
        <activity
            android:name=".search.SelectLocationActivity"
            android:label="Select Location"
            android:parentActivityName=".search.SearchTabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.instano.retailer.instano.search.SearchTabsActivity" />
        </activity>
        <activity
            android:name=".buyerDashboard.quotes.QuoteListActivity"
            android:label="@string/title_quote_list"
            >
        </activity>
        <activity
            android:name=".deals.DealListActivity"
            android:label="@string/title_deal_list" >
        </activity>
        <activity
            android:name=".deals.DealDetailActivity"
            android:label="@string/title_deal_detail"
            android:parentActivityName=".deals.DealListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.instano.retailer.instano.deals.DealListActivity" />
        </activity>
        <activity
            android:name=".sellers.SellersActivity"
            android:label="@string/title_activity_sellers" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="Fb Login" >
        </activity>
        <activity
            android:name=".activities.signUp.SignUpActivity"
            android:label="Sign Up" >
        </activity>
        <activity
            android:name=".activities.search.ResultsActivity"
            android:label="@string/title_activity_results"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".activities.home.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activities.SellerDetailActivity"
            android:label="@string/title_activity_home" >
        </activity>

    </application>

</manifest>
