<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instano.retailer.instano" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/instano-launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PurchaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuotationListActivity"
            android:label="@string/title_quotation_list"
            android:parentActivityName=".PurchaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.instano.retailer.instano.PurchaseActivity" />
        </activity>
        <activity
            android:name=".QuotationDetailActivity"
            android:label="@string/title_quotation_detail"
            android:parentActivityName=".QuotationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.instano.retailer.instano.QuotationListActivity" />
        </activity>
    </application>

</manifest>
